.cta {
  grid-column: 1 / -1;
  grid-row: 4 / 5;

  background-color: var(--color-violet);
  background-image: url("../assets/bg-boost-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include respond(mobile-md) {
    background-image: url("../assets/bg-boost-mobile.svg");
    background-position: right;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6.4rem 0;
  // text-align: center;

  @include respond(tablet-port) {
    grid-row: 5 / 6;
  }

  .heading {
    color: #fff;
    margin-bottom: 1.2rem;
  }
}
