.shorten-url {
  grid-column: 2 / -2;
  grid-row: 3 / 4;

  & > *:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  &__form {
    width: 100%;
    background-color: var(--color-violet);
    background-image: url("../assets/bg-shorten-desktop.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.6rem;
    padding: 4.8rem 6.4rem;
    margin-top: -27.4rem;
  }

  &__form-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      font-size: inherit;
      font-family: inherit;
      padding: 1rem 3.2rem;
      border-radius: 0.6rem;
      outline: none;
      border: none;
      flex-grow: 1;
      margin-right: 2.4rem;
      color: var(--color-violet);

      &::placeholder {
        color: var(--color-grayish-violet);
      }
    }
  }

  &__result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0.6rem;
    padding: 1.2rem 2.4rem;

    &--short {
      display: flex;
      align-items: center;

      & > *:not(:last-child) {
        margin-right: 2.4rem;
      }

      .desc {
        color: var(--color-cyan);
      }
    }
  }
}
