.stat {
  grid-column: 2 / -2;
  grid-row: 4 / 5;

  display: grid;
  grid-template-columns: repeat(3, minmax(25rem, 1fr));
  grid-template-rows: repeat(2, min-content);
  align-items: center;
  grid-gap: 0rem 3.2rem;
  margin-top: 7.2rem;
  margin-bottom: 10.4rem;

  @include respond(tablet-port) {
    grid-template-columns: minmax(25rem, 1fr);
    grid-auto-flow: dense;
  }

  &__caption {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
    text-align: center;

    .heading--secondary {
      margin-bottom: 1.2rem;
    }

    .desc--secondary {
      max-width: 45rem;
    }
  }

  &__card {
    // grid-row: 2 / -1;
    background-color: #fff;
    padding: 3.2rem;
    border-radius: 0.6rem;
    position: relative;
    z-index: 2;

    @include respond(tablet-port) {
      text-align: center;
    }

    &--1 {
      margin-top: 0;
      @include respond(tablet-port) {
        margin-top: 8rem;
      }
    }

    &--2 {
      margin-top: 8rem;
    }

    &--3 {
      margin-top: 16rem;
      @include respond(tablet-port) {
        margin-top: 8rem;
      }
    }

    .desc {
      font-size: 1.4rem;
      line-height: 150%;
      margin-bottom: 2.4rem;
      @include respond(tablet-port) {
        max-width: 100%;
        margin-bottom: 0;
      }
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      padding: 2.4rem;
      border-radius: 50%;
      background-color: var(--color-violet);
      margin-top: -7.2rem;
      margin-bottom: 2.4rem;

      @include respond(tablet-port) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    h3 {
      margin-bottom: 1.2rem;
    }
  }

  &__bar {
    grid-column: 1 / -1;
    background-color: var(--color-cyan);
    margin: -40rem 2.4rem 0 2.4rem;
    height: 0.8rem;
    position: relative;
    z-index: 1;

    @include respond(tablet-port) {
      transform: rotate(90deg);
      width: 90%;
      margin: 0;
      left: 5%;
      margin-top: -85rem;
    }

    @include respond(mobile-md) {
      width: 150%;
      left: -25%;
      top: 0;
      bottom: 0;
    }
  }
}
