/* CSS colors variables*/

:root {
  /* Primary colors */
  --color-cyan-light: hsl(180, 66%, 65%);
  --color-cyan: hsl(180, 66%, 49%);
  --color-violet: hsl(257, 27%, 26%);

  /* Secondary colors */
  --color-red: hsl(0, 87%, 67%);

  /* Neutral colors */

  --color-gray: hsl(0, 0%, 75%);
  --color-grayish-violet: hsl(257, 7%, 63%);
  --color-dark-blue: hsl(255, 11%, 22%);
  --color-dark-violet: hsl(260, 8%, 14%);
}
